#clockcontainer{
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url("watchdial.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;

}
#hour,#min,#sec{
    position: absolute;
    border-radius: 10px;
    background-color: rgb(15, 27, 19);

}
#hour{
    width: 2%;
    height: 25%;
    top: 25.5%;
    left: 49.2%;
    transform-origin: bottom;

}
#min{
    width: 1.5%;
    height: 33%;
    top: 18%;
    left: 49.7%;
    transform-origin: bottom;
    
}
#sec{
    width: 1%;
    height: 40%;
    top: 10%;
    left: 50%;
    transform-origin: bottom;
    

}